<div class="row">
    <div class="col-lg-12">
        <ol class="ibox-title breadcrumb">
            <li>
                <a>{{parentPage}}</a>
            </li>
            <li class="active">
                <strong>{{currentPage}}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <!-- <div class="ibox-title">
                <h5>{{currentPage}}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div> -->
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5">
                        <a *ngIf="isAdd" class="btn btn-primary" (click)="openModel(template)">
                            <i class="fa fa-file-o"></i> Tạo mới</a>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group pull-right">
                            <!-- <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..." class="input-sm form-control" /> -->
                            <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..." class="input-sm form-control" (keyup.enter)="listDataRole.filterGlobal($event.target.value, 'contains')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <!-- <p-dataTable [value]="listData" [paginator]="true" rows="10" [responsive]="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filterGb"
                                [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)" sortField="name">
                                <p-column field="code" header="Mã" [sortable]="true"></p-column>
                                <p-column field="name" header="Tên" [sortable]="true"></p-column>
                                <p-column styleClass="col-button2">
                                    <ng-template pTemplate="header">
                                        <a class="btn btn-info" (click)="refresh()">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </ng-template>
                                    <ng-template let-data="rowData" pTemplate="body">
                                        <a *ngIf="isEdit" class="btn btn-info" (click)="openModel(template, data)">
                                            <i class="fa fa-paste"></i> Xem</a>
                                        <a *ngIf="isDelete" class="btn btn-danger" (click)="openDeleteModel(templateDelete, data)">
                                            <i class="fa fa-trash-o"></i>
                                            <span class="bold">Xóa</span>
                                        </a>
                                    </ng-template>
                                </p-column>
                            </p-dataTable> -->
                            <p-table #listDataRole [value]="listData" [scrollable]="true" scrollHeight="700px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,50]"
                                [globalFilterFields]="colsRole">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="code">Mã
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name">Tên
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="parrentRoleid">Root
                                            <p-sortIcon field="parrentRoleid"></p-sortIcon>
                                        </th>
                                        <th class="col-button2">
                                            <a class="btn btn-info" (click)="refresh(listDataRole)">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-Datas>
                                    <tr>
                                        <td>{{Datas.code}}</td>
                                        <td>{{Datas.name}}</td>
                                        <td>{{Datas.parrentRole?.name}}</td>
                                        <td class="col-button2">
                                            <a *ngIf="isEdit" class="btn btn-info" (click)="openModel(template, Datas)">
                                                <i class="fa fa-paste"></i> Xem</a>
                                            <a *ngIf="isDelete" class="btn btn-danger" (click)="openDeleteModel(templateDelete, Datas)">
                                                <i class="fa fa-trash-o"></i>
                                                <span class="bold">Xóa</span>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Start Modal-->
<ng-template #template>
    <div (keydown)="keyDownFunction($event)">
        <div class="modal-header" style="padding: 5px; text-align:left;">
            <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title" style="font-size:20px">{{modalTitle}}</h5>
        </div>
        <div class="modal-body" style="overflow:-webkit-paged-x;" *ngIf="data">
            <div class="col-md-12 no-padding">
                <div class="form-group">
                    <label>Mã</label>
                    <input type="text" placeholder="Nhập mã" class="input-sm form-control" id="code" [(ngModel)]="data.code" focus="true" />
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" placeholder="Nhập tên" class="input-sm form-control" id="name" [(ngModel)]="data.name" />
                </div>
                <div class="form-group">
                    <label>Root</label>
                    <p-dropdown [options]="parrentRole" [(ngModel)]="selectedParrentRole" (onChange)="changeParrentRole()" [style]="{'width':'100%'}" filter="true" emptyFilterMessage="Không tìm thấy dữ liệu"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
            <button type="button" class="btn btn-primary" (click)="save()">Lưu</button>
        </div>
    </div>
</ng-template>

<ng-template #templateDelete>
    <div class="modal-header" style="padding: 5px; text-align:left;">
        <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body" style="overflow:hidden;" *ngIf="data">
        <div class="col-md-12 no-padding">
            <h4>Bạn có chắc chắn muốn xoá
                <b>&quot;{{data.name}}&quot;</b>?</h4>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Xoá</button>
    </div>
</ng-template>
<!--End Modal-->