<div class="row">
  <div class="col-lg-12">
      <ol class="ibox-title breadcrumb">
          <li>
              <a>{{parentPage}}</a>
          </li>
          <li class="active">
              <strong>{{currentPage}}</strong>
          </li>
      </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <!-- <div class="ibox-title">
              <h5>{{currentPage}}</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div>
          </div> -->
          <div class="ibox-content">
              <div class="row">
                  <div class="col-sm-2">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <a *ngIf="isAdd" class="btn btn-primary" (click)="openModel(templateGoogleMap)">
                            <i class="fa fa-file-o"></i> Tạo mới theo GoogleMap</a>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <a *ngIf="isAdd" class="btn btn-primary" (click)="openModel(template)">
                            <i class="fa fa-file-o"></i> Tạo mới</a>
                    </div>
                  </div>
                  <div class="col-sm-2">
                      <label>Tỉnh thành</label>
                      <div class="form-group">
                          <p-dropdown [options]="provineces" [(ngModel)]="selectedFilterProvince" [style]="{'width':'100%'}"
                              filter="filter" autofocus tabindex="1" (onChange)="onChangeFProvince()">
                          </p-dropdown>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <label>Quận huyện</label>
                      <div class="form-group">
                          <p-dropdown [options]="fDistricts" [(ngModel)]="selectedFilterDistrict" [style]="{'width':'100%'}"
                              filter="filter" autofocus tabindex="1" (onChange)="onChangeFDistrict()">
                          </p-dropdown>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <label>Phường xã</label>
                      <div class="form-group">
                          <p-dropdown [options]="fWards" [(ngModel)]="selectedFilterWard" [style]="{'width':'100%'}"
                              filter="filter" autofocus tabindex="1" (onChange)="onChangeFWard()">
                          </p-dropdown>
                      </div>
                  </div>
                  <div class="col-sm-2">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <div class="input-group pull-right">
                            <!-- <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..." class="input-sm form-control"> -->
                            <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..." class="input-sm form-control" 
                                [(ngModel)]="searchText" (keydown.enter)="onChangeInputSearch()" (blur)="onChangeInputSearch()">
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <div class="col-sm-12">
                      <div>
                          <!-- <p-dataTable [value]="listData" [paginator]="true" rows="10" [responsive]="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filterGb"
                              [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)" sortField="street.name">
                              <p-column field="street.code" header="Mã Đường" [sortable]="true"></p-column>
                              <p-column field="street.name" header="Tên Đường" [sortable]="true"></p-column>
                              <p-column field="province.name" header="Tỉnh Thành" [sortable]="true"></p-column>
                              <p-column field="district.name" header="Quận huyện" [sortable]="true"></p-column>
                              <p-column field="ward.name" header="Phường Xã" [sortable]="true"></p-column>
                              <p-column styleClass="col-button">
                                  <ng-template pTemplate="header">
                                      <a class="btn btn-info" (click)="refresh()">
                                          <i class="fa fa-refresh"></i>
                                      </a>
                                  </ng-template>
                                  <ng-template let-data="rowData" pTemplate="body">
                                      <a *ngIf="isEdit" class="btn btn-info" (click)="openModel(template, data)">
                                          <i class="fa fa-paste"></i> Xem</a>
                                      <a *ngIf="isDelete" class="btn btn-danger" (click)="openDeleteModel(templateDelete, data)">
                                          <i class="fa fa-trash-o"></i>
                                          <span class="bold">Xóa</span>
                                      </a>
                                  </ng-template>
                              </p-column>
                          </p-dataTable> -->
                          <p-table #listDataStreet [value]="listData" 
                            [scrollable]="true" scrollHeight="700px" [paginator]="true" 
                            [rows]="rowPerPage" [rowsPerPageOptions]="[10,20,50]" [lazy]="true"
                            [totalRecords]="totalRecords"  (onPage)="onPageChange($event)"
                            [globalFilterFields]="colsStreet">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="code">Mã
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name">Tên
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="provinceName">Tỉnh thành
                                            <p-sortIcon field="provinceName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="districtName">Tỉnh thành
                                            <p-sortIcon field="districtName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="wardName">Tỉnh thành
                                            <p-sortIcon field="wardName"></p-sortIcon>
                                        </th>
                                        <th class="col-button2">
                                            <a class="btn btn-info" (click)="refresh(listDataStreet)">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{item.code}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.provinceName}}</td>
                                        <td>{{item.districtName}}</td>
                                        <td>{{item.wardName}}</td>
                                        <td class="col-button2">
                                            <!-- <a *ngIf="isEdit" class="btn btn-info" (click)="openModel(template, item)">
                                                <i class="fa fa-paste"></i> Xem</a> -->
                                            <a *ngIf="isDelete" class="btn btn-danger" (click)="openDeleteModel(templateDelete, item)">
                                                <i class="fa fa-trash-o"></i>
                                                <span class="bold">Xóa</span>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Start Modal-->
<ng-template #templateGoogleMap>
  <div (keydown)="keyDownFunction($event)">
      <div class="modal-header" style="padding: 5px; text-align:left;">
          <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
          </button>
          <h5 class="modal-title" style="font-size:20px">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12 no-padding">
                  <div *ngIf="isNew" class="form-group">
                      <label>Nhập location</label>
                      <input placeholder="Nhập location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="input-sm form-control"
                      [id]="streetId" [(ngModel)]="txtAddress">
                  </div>
                  <div class="form-group">
                      <label>Tên đường</label>
                      <input disabled type="text" placeholder="Nhập tên đường" class="input-sm form-control" [(ngModel)]="streetName" focus="true" />
                  </div>
                  <div class="form-group">
                      <label>Mã đường</label>
                      <input disabled type="text" placeholder="Nhập mã đường" class="input-sm form-control" [(ngModel)]="streetCode" focus="true" />
                  </div>
                  <div class="form-group">
                      <label>Tỉnh thành</label>
                      <!-- <input type="text" placeholder="Tỉnh thành" class="input-sm form-control" [(ngModel)]="selectedProvince" /> -->
                      
                      <p-dropdown [options]="provineces" [(ngModel)]="selectedProvince" [style]="{'width':'100%'}"
                          filter="filter" autofocus tabindex="1" (onChange)="onChangeProvince()" [disabled]="isProvince" placeholder="-- Chọn tỉnh thành --">
                      </p-dropdown>
                  </div>
                  <div class="form-group">
                      <label>Quận huyện</label>
                      <!-- <input type="text" placeholder="Quận huyện" class="input-sm form-control" [(ngModel)]="selectedDistrict" /> -->
                      
                      <p-dropdown [options]="districts" [(ngModel)]="selectedDistrict" [style]="{'width':'100%'}"
                          filter="filter" autofocus tabindex="1" (onChange)="onChangeDistrict()" [disabled]="isDistrict" placeholder="-- Chọn quận huyện --">
                      </p-dropdown>
                  </div>
                  <div class="form-group">
                      <label>Phường Xã</label>
                      <!-- <input type="text" placeholder="Phường xã" class="input-sm form-control" [(ngModel)]="selectedWard" /> -->
    
                      <p-dropdown [options]="wards" [(ngModel)]="selectedWard" [style]="{'width':'100%'}"
                          filter="filter" autofocus tabindex="1" (onChange)="onChangeWard()" [disabled]="isWard" placeholder="-- Chọn phường xã --">
                      </p-dropdown>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="save()">Lưu</button>
      </div>
  </div>
</ng-template>

<ng-template #template>
  <div (keydown)="keyDownFunction($event)">
      <div class="modal-header" style="padding: 5px; text-align:left;">
          <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
          </button>
          <h5 class="modal-title" style="font-size:20px">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12 no-padding">
                <!-- <div *ngIf="isNew" class="form-group">
                    <label>Nhập location</label>
                    <input placeholder="Nhập location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="input-sm form-control"
                    [id]="streetId" [(ngModel)]="txtAddress">
                </div> -->
                <div class="form-group">
                    <label>Tên đường</label>
                    <input (change)="onChangeStreetName()" type="text" placeholder="Nhập tên đường" class="input-sm form-control" [(ngModel)]="streetName" focus="true"/>
                </div>
                <div class="form-group">
                    <label>Mã đường</label>
                    <input type="text" placeholder="Nhập mã đường" class="input-sm form-control" [(ngModel)]="streetCode"/>
                </div>
                <div class="form-group">
                    <label>Tỉnh thành</label>
                    <!-- <input type="text" placeholder="Tỉnh thành" class="input-sm form-control" [(ngModel)]="selectedProvince" /> -->
                    
                    <p-dropdown [options]="provineces" [(ngModel)]="selectedProvince" [style]="{'width':'100%'}"
                        filter="filter" autofocus tabindex="1" (onChange)="onChangeProvince()" placeholder="-- Chọn tỉnh thành --">
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <label>Quận huyện</label>
                    <!-- <input type="text" placeholder="Quận huyện" class="input-sm form-control" [(ngModel)]="selectedDistrict" /> -->
                    
                    <p-dropdown [options]="districts" [(ngModel)]="selectedDistrict" [style]="{'width':'100%'}"
                        filter="filter" autofocus tabindex="1" (onChange)="onChangeDistrict()" placeholder="-- Chọn quận huyện --">
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <label>Phường Xã</label>
                    <!-- <input type="text" placeholder="Phường xã" class="input-sm form-control" [(ngModel)]="selectedWard" /> -->

                    <p-dropdown [options]="wards" [(ngModel)]="selectedWard" [style]="{'width':'100%'}"
                        filter="filter" autofocus tabindex="1" (onChange)="onChangeWard()" placeholder="-- Chọn phường xã --">
                    </p-dropdown>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="save()">Lưu</button>
      </div>
  </div>
</ng-template>

<ng-template #templateDelete>
  <div class="modal-header" style="padding: 5px; text-align:left;">
      <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
      </button>
  </div>
  <div class="modal-body" style="overflow:hidden;" *ngIf="selectedData">
      <div class="col-md-12 no-padding">
          <h4>Bạn có chắc chắn muốn xoá
              <b>&quot;{{selectedData.name}}&quot;</b>?
            </h4>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Xoá</button>
  </div>
</ng-template>
<!--End Modal-->
