<div class="row">
    <div class="col-lg-12">
        <ol class="ibox-title breadcrumb">
            <li>
                <a>{{parentPage}}</a>
            </li>
            <li class="active">
                <strong>{{currentPage}}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <!-- <div class="ibox-title">
                <h5>{{currentPage}}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div> -->
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5">
                        <a *ngIf="isAdd" class="btn btn-primary" (click)="openModel(template)">
                            <i class="fa fa-file-o"></i> Tạo mới</a>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group pull-right">
                            <!-- <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..." class="input-sm form-control"> -->
                            <input #filterGb type="text" placeholder="Nhập chuỗi cần tìm ..." class="input-sm form-control" (input)="listDataProvince.filterGlobal($event.target.value, 'contains')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <p-table #listDataProvince [value]="listData" [scrollable]="true" scrollHeight="700px" [paginator]="true" [rows]="10" [responsive]="true"
                                [rowsPerPageOptions]="[10,20,50]" [globalFilterFields]="colsProvince">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center" pSortableColumn="code">
                                            Mã
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th class="text-center" pSortableColumn="name">
                                            Tên
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th class="text-center" pSortableColumn="country.name">
                                            Quốc gia
                                            <p-sortIcon field="country.name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="vseOracleCode">Mã kết nối
                                            <p-sortIcon field="vseOracleCode"></p-sortIcon>
                                        </th>
                                        <th class="col-button2" style="text-align: center">
                                            <a class="btn btn-info" (click)="refresh(listDataProvince)">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template let-data pTemplate="body" let-rowIndex="rowIndex">
                                    <tr [pSelectableRow]="data">
                                        <td>{{data.code}}</td>
                                        <td>{{data.name}}</td>
                                        <td>{{data.country.name}}</td>
                                        <td>{{data.vseOracleCode}}</td>
                                        <td class="text-center" class="col-button2">
                                            <a *ngIf="isEdit" class="btn btn-info" (click)="openModel(template, data)">
                                                <i class="fa fa-paste"></i> Xem
                                            </a>
                                            <a *ngIf="isDelete" class="btn btn-danger" (click)="openDeleteModel(templateDelete, data)">
                                                <i class="fa fa-trash-o"></i>
                                                <span class="bold">Xóa</span>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                                <!-- <ng-template pTemplate="summary">
                                    Số lượng: {{listData?.length}}
                                </ng-template> -->
                            </p-table>
                            <!-- <p-dataTable [value]="listData" [paginator]="true" rows="10" [responsive]="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filterGb"
                                [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)" sortField="name">
                                <p-column field="code" header="Mã" [sortable]="true"></p-column>
                                <p-column field="name" header="Tên" [sortable]="true"></p-column>
                                <p-column field="country.name" header="Quốc gia" [sortable]="true"></p-column>
                                <p-column styleClass="col-button2">
                                    <ng-template pTemplate="header">
                                        <a class="btn btn-info" (click)="refresh()">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </ng-template>
                                    <ng-template let-data="rowData" pTemplate="body">
                                        <a *ngIf="isEdit" class="btn btn-info" (click)="openModel(template, data)">
                                            <i class="fa fa-paste"></i> Xem</a>
                                        <a *ngIf="isDelete" class="btn btn-danger" (click)="openDeleteModel(templateDelete, data)">
                                            <i class="fa fa-trash-o"></i>
                                            <span class="bold">Xóa</span>
                                        </a>
                                    </ng-template>
                                </p-column>
                            </p-dataTable> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Start Modal-->
<ng-template #template>
    <div (keydown)="keyDownFunction($event)">
        <div class="modal-header" style="padding: 5px; text-align:left;">
            <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title" style="font-size:20px">{{modalTitle}}</h5>
        </div>
        <div class="modal-body" style="overflow:-webkit-paged-x;" *ngIf="data">
            <div class="col-md-12 no-padding">
                <div class="form-group">
                    <label>Mã</label>
                    <input type="text" placeholder="Nhập mã" class="input-sm form-control" id="code" [(ngModel)]="data.code" focus="true" />
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" placeholder="Nhập tên" class="input-sm form-control" id="name" [(ngModel)]="data.name" />
                </div>
                <div class="form-group">
                    <label>Mã kết nối</label>
                    <input type="text" placeholder="Nhập mã kết nối" class="input-sm form-control" id="name" [(ngModel)]="data.vseOracleCode"
                    />
                </div>
                <div class="form-group">
                    <label>Quốc gia</label>
                    <!-- <select class="select-input form-control" [compareWith]="compareFn" [(ngModel)]="selectedCountry">
                        <option *ngFor="let item of countries" [ngValue]="item">{{item.name}}</option>
                    </select> -->
                    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" [style]="{'width':'100%'}" filter="true"></p-dropdown>
                    <!-- <p-dropdown [options]="countries" [(ngModel)]="data.country" [style]="{'width':'150px'}" filter="filter">
                    <ng-template let-country pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:right;margin-top:4px">{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
            <button type="button" class="btn btn-primary" (click)="save()">Lưu</button>
        </div>
    </div>
</ng-template>

<ng-template #templateDelete>
    <div class="modal-header" style="padding: 5px; text-align:left;">
        <button type="button" class="close" data-dismiss="modal" style="margin:3px 10px 0 0;" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body" style="overflow:hidden;" *ngIf="data">
        <div class="col-md-12 no-padding">
            <h4>Bạn có chắc chắn muốn xoá
                <b>&quot;{{data.name}}&quot;</b>?</h4>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Xoá</button>
    </div>
</ng-template>
<!--End Modal-->